/*


--- 01 - TYPHOGRAPHY SYSTEM


- LINE HEIGHT
1 (Default) / 1.05 / 1.2 / 1.6

- FONT WEIGHTS
400 (Default) / 500 / 600 / 700

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- LETTER SPACING
-0.5px / 0.75px

--- 02 - COLORS


Primary: #e67e22

- Tints:
#fdf2e9 / 


- Shades:
#cf711f /


- Accents:


- Greys:
#555 / #333


--- 03 - SHADOWS


--- 04 - BORDER RADIUS

9px / 

--- 05 - WHITESPACE


- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
    --brand-color: #e67e22;
    --brand-color-dark: #cf711f;
    --brand-color-light: #f9cda9;
    --brand-color-light-x: #fae5d3;
    --brand-color-light-xx: #fdf2e9;

    --grey-color: #555;
    --grey-color-dark: #333;
    --grey-color-light: #6f6f6f;
}

/*************** BELOW 1344px ***************/

@media (max-width: 84em) {
    .hero-container {
        max-width: 120rem;
    }

    .hero-headline {
        font-size: 4.4rem;
        line-height: 1.2;
    }

    .galery-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-item:nth-child(1),
    .gallery-item:nth-child(3),
    .gallery-item:nth-child(5),
    .gallery-item:nth-child(9) {
        display: none;
    }
}

/*************** BELOW 1200px ***************/

@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .main-header {
        padding: 0 3.2rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .grid {
        column-gap: 4rem;
        row-gap: 6.4rem;
    }

    .hero-container {
        gap: 4.8rem;
    }

    .how-headline {
        font-size: 4rem;
    }

    .meals-headline,
    .testimonial-headline {
        font-size: 3.6rem;
    }

    .step-heading,
    .diets-heading {
        font-size: 2.8rem;
    }

    .step-num {
        font-size: 7.4rem;
    }

    .testimonial-grid {
        gap: 0;
    }

    .testimonial-container {
        padding: 9.6rem 3.2rem 9.6rem 4.8rem;
    }

    .galery-box {
        gap: 1.6rem;
    }
}

/*************** BELOW 944px ***************/

@media (max-width: 59em) {
    html {
        font-size: 50%;
    }

    .hero-container {
        grid-template-columns: 1fr;

        gap: 6.4rem;

        padding: 0 8rem;
    }

    .hero-img-box,
    .hero-text-box {
        text-align: center;
        align-items: center;
    }

    .delivered-meals {
        justify-content: center;

        margin-top: 3.2rem;
    }

    .hero-img {
        max-width: 65%;
    }

    .featured-heading {
        font-size: 1.2rem;
    }

    .featured-logo {
        height: 2.4rem;
    }

    .meals-content {
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    .testimonial-grid {
        grid-template-columns: 1fr;
    }

    .testimonial-container {
        padding: 4.8rem;
    }

    .galery-box {
        grid-template-columns: repeat(6, 1fr);
    }

    .gallery-item:nth-child(1),
    .gallery-item:nth-child(3),
    .gallery-item:nth-child(5),
    .gallery-item:nth-child(9) {
        display: block;
    }

    .plan-list-item {
        line-height: 1.2;
    }

    .cta-container {
        grid-template-columns: 3fr 2fr;
    }

    .cta-form {
        grid-template-columns: 1fr;

        row-gap: 3.2rem;
    }

    .cta-text-box label {
        display: block;

        font-size: 1.8rem;
        font-weight: 500;

        margin-bottom: 1.2rem;
    }

    .cta-btn {
        margin-top: 1.2rem;
    }

    /* MOBILE NAV */

    .mobile-nav-btn {
        display: block;
    }

    .nav-open .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }

    .nav-open .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;

        transform: translateX(0);
    }

    .main-nav {
        background-color: #fff;

        position: absolute;
        top: 0;
        left: 0;

        transform: translateX(100%);

        height: 100svh;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        transition: all 0.5s ease-in;
    }

    .main-nav-list {
        flex-direction: column;

        gap: 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
    }
}

/*************** BELOW 704px ***************/

@media (max-width: 44em) {
    .how-headline {
        margin-bottom: 4.2rem;
    }

    .featured-logos {
        gap: 1.6rem;
    }

    .featured-logo {
        height: 2rem;
    }

    .meals-container,
    .features-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .meals-card {
        max-width: 90%;
    }

    .meals-card:nth-child(1) {
        justify-self: end;
    }

    .diets-box {
        grid-column: 1 / -1;
    }

    .diets-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .galery-box {
        grid-template-columns: repeat(5, 1fr);
    }

    .gallery-item:nth-child(6),
    .gallery-item:nth-child(9) {
        display: none;
    }

    .pricing-plan {
        width: 100%;
    }

    .grid--footer {
        grid-template-columns: repeat(6, 1fr);
    }

    .nav-col {
        grid-row: 1;
        grid-column: span 2;

        margin-bottom: 3.2rem;
    }

    .logo-col,
    .address-col {
        grid-column: span 3;
    }
}

/*************** BELOW 544px ***************/

@media (max-width: 34em) {
    .grid {
        grid-template-columns: 1fr;
    }

    .btn,
    .btn:link,
    .btn:visited {
        font-size: 1.6rem;
        padding: 2.8rem 2rem;
    }

    .hero-section {
        padding: 2.4rem 0 6.4rem 0;
    }

    .hero-container {
        padding: 0 3.2rem;
    }

    .hero-img {
        max-width: 100%;
    }

    .featured-logo {
        height: 1.2rem;
    }

    .step-img-box {
        transform: translateY(2.4rem);
    }

    .step-img-box:nth-child(2) {
        grid-row: 1;
    }

    .step-img-box:nth-child(6) {
        grid-row: 5;
    }

    .meals-container {
        justify-items: center;
    }

    .meals-card:first-child {
        justify-self: center;
    }

    .meals-card {
        max-width: 80%;
    }

    .galery-box {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-item:nth-child(6),
    .gallery-item:nth-child(9) {
        display: block;
    }

    .pricing-container {
        justify-items: center;
    }

    .pricing-plan {
        max-width: 90%;
    }

    .pricing-plan:first-child {
        justify-self: center;
    }

    .features-container {
        row-gap: 1.6rem;
    }

    .cta-img-box {
        grid-row: 1;

        min-height: 32rem;
    }

    .cta-text-box {
        padding: 2.4rem;
    }

    .nav-col {
        display: none;
    }
}
